html, body {
    height: 50%;
    font-size: 1rem;   
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

nav img {
    height: 100px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 900;
}

h1 {
    font-size: 30px;
    font-weight: 900;
}

.gradient {
    background: rgb(13,237,218);
    background: linear-gradient(90deg, rgba(13,237,218,1) 0%, rgba(252,176,69,1) 100%); 
}

.header {
    margin-left: 100px;
}

.first-part, .second-part{
    margin-top: 8rem;
    font-size: 1.1rem;
    color: black;
}

.second-part img {
    height: 30rem;
}

h2, h3 {
    font-weight: bold;
}

footer {
    font-size: 1rem;
    border-radius: 10%;
}
